@charset "utf-8";
/* CSS Document */

.ks-name{ padding:0 15px;}
.nav_k .nav-bar .ks-name{ width:auto;}
.nav_k .nav-bar .ks-name .nav-item-tit a{width:auto;}
/*搜索*/
.search-layout{ width:1200px; margin:0 auto; min-width:1200px;}
.search-box{ width:515px; margin-top:-66px; position:relative; z-index:900; padding:18px 0 0 0; overflow:hidden;zoom:1; float:right;}
.search-box .search-form{ float:left; width:423px; height:33px; border:solid 1px #dfdfdf; background:#fff;}
.search-box .search-form i{ float:left; background:url(../images/bg_search_btn.gif) no-repeat 0 0; width:34px; height:33px; border-right:solid 1px #dfdfdf;}
.search-box .search-form .search-txt{ padding: 4px 10px; width: 366px; line-height: 24px; vertical-align: top; font-family:"Microsoft YaHei"; font-size:14px; color:#ccc; float:left;}
.search-box .search-form .search-txt-f{ color:#333;}
.search-box .search-btn{ float:right; width: 80px; height: 35px; background:#55b939; cursor: pointer; border:none;font-family:"Microsoft YaHei"; font-size:16px; color:#fff;}
.search-box .search-btn.hover{ background:#61c445;}

.ks-nav{}
.ks-nav li{ float:left; display:inline; width:120px; margin-right:2px; text-align:center; height:42px; line-height:42px; font-size:18px; color:#333;}
.ks-nav li a{ color:#333333; display:block; background:#ededed;}
.ks-nav li a:hover{ color:#fff;background:#3d95d5; text-decoration:none;}
.ks-nav .curr{ }
.ks-nav .curr a{ color:#fff;background:#3d95d5;}

.ks-con{ border-top:2px solid #3d95d5; background:url(../images/rbox_bg.png) repeat-y 900px top; border-bottom:1px solid #ededed;}
.ks-main{ width:870px;}
.ks-side{ width:300px;}
.ks-side .rbox{ padding-left:20px; margin-top:35px;}


.ys_yygh{ margin-top:15px;padding-bottom:30px;}
.ys_yygh .ys_titbar{ padding-bottom:10px;}
.ys_titbar .choose_date .cd_btn{background: #0d9e7f;}
.ys_titbar .choose_date .cd_btn:hover{background: #29b597;}

.ys_tb_btns{background: #55b939; float:right; height:30px; line-height:30px;font-family: "Microsoft YaHei";font-size: 14px;color: #fff; padding:0 15px;}
.ys_tb_btns:hover{ text-decoration:none;background: #61c445; color:#fff;}
.ys_yygh .ys_yygh_tbl table td .pb_name{ display:block; height:14px; line-height:14px; margin-top:7px;}
.ys_yygh .ys_yygh_tbl table td{ padding:10px 0;}
.ks-info{padding:20px 0 0 40px; margin:20px auto; background:url(../images/bg_doc_info.gif) left top repeat-x;}
.ks-info .d-img{width:180px;}
.ks-info .d-img .img{ width:160px; padding:10px; background:#ededed;}
.ks-info .d-img .fav{padding:10px 0;text-align:center;font-size:14px;}
.ks-info .d-img .fav .icon{display:inline-block; position:relative;top:2px;+top:-4px; width:15px; height:15px; margin-right:5px; background:url(../images/bg_fav.gif) left top no-repeat;}
.ks-info .d-detail{width:650px; margin-left:32px;}
.d-detail .d-detail-t{padding-top:10px; height:110px;}
.d-detail .d-detail-t .d-name{}
.d-detail .d-detail-t .p1{ color:#fff;}
.d-detail .d-detail-t .p1 em{padding:0 20px; font-size:18px;}
.d-detail .d-detail-t .p1 strong{ font-size:30px;color:#fff; font-weight:normal;}
.d-detail .d-detail-t .p1 a{color:#fff;}
.d-detail .d-detail-t .p1 .yygh-btn{display:inline-block; vertical-align:top;width:89px; height:30px; text-align:center; line-height:30px;font-size:14px; margin-top:5px; background:#55b939;  color:#fff;}
.d-detail .d-detail-t .p1 .yygh-btn:hover{color:#fff;text-decoration:none;background:#61c445;}
.d-detail .d-detail-t .d-num{ text-align:right;}
.d-detail .d-detail-t .d-num b{font-size:36px;color:#fff;display:block;font-weight:normal;} 
.d-detail .d-detail-t .d-num .zan{ color:#fff; line-height:29px;font-size:14px;}
.d-detail .d-detail-t .d-num .zan .icon{ display:inline-block; vertical-align:middle; width:29px; height:29px; line-height:29px; background:url(../images/bg_zan.gif) left top no-repeat;}
.d-detail .d-detail-t .d-num .zan:hover{ text-decoration:none;}
.d-detail .d-detail-t .d-num .zan:hover .icon{ opacity:0.8;filter:alpha(opacity=80);}
.d-detail .d-detail-t .p2{ color:#fff; font-size:14px; line-height:24px;}
.d-detail .d-detail-c .p1{position:relative;padding-left:48px; font-size:14px; color:#333; line-height:24px;padding-bottom:10px;}
.d-detail .d-detail-c .p1 strong{position:absolute; left:0;top:0; font-weight:normal; line-height:24px;}
.d-wx{width:200px; margin-left:67px;}
.d-wx .d-wx-img{ width:132px; margin:0 auto; padding:19px 19px 0; background:#fff;text-align:center;font-size:14px;}
.d-wx .d-wx-img p{ padding:10px 0;}
.d-wx .weibo_fx{ border-top:none; padding-left:15px;}
.d-wx .bshareDiv div.buzzButton{ font-weight:normal;}
.d-wx .art_weixin .art_weixin_ewm{ margin-left:-102px;}
.d-wx .share-left{ float:left; display:inline;padding-left:0;line-height:20px;font-size:14px;}
.ks-main .news_list{ padding-top:20px;}
.news_list{ padding:0 0 20px 0;}
.news_list h2{ font-size:24px; color:#333; font-weight:normal; line-height:28px; height:28px; overflow:hidden; padding:18px 2px 5px 2px;}
.news_list ul{border-top:solid 1px #ededed; margin-top:20px; padding-bottom:20px;}
.news_list li{height:49px; line-height:49px; border-bottom:solid 1px #ededed; position:relative;}
.news_list li a{ display:block;padding:0; width:100%;overflow:hidden;zoom:1; vertical-align:bottom;}
.news_list li span{ float:left; padding-left:21px; font-size:16px; cursor:pointer;white-space:nowrap;text-overflow:ellipsis;-webkit-text-overflow:ellipsis; width:670px; overflow:hidden; color:#333;}
.news_list li em{ float:right; font-size:12px; padding-right:18px; color:#ccc;}
.news_list li a:hover span{ color:#458fce;}
.news_list li i{ position:absolute; height:51px; width:6px; overflow:hidden; background:#458fce; left:0; top:-1px; display:none;}
.news_list li.hover{ background:#f7f7f7;}
.news_list li.hover i{ display:block;}

.hot_list{ margin-right:-42px;}
.hot_list li{ float:left; display:inline; width:413px; line-height: 26px; vertical-align:bottom; height:26px; overflow:hidden;zoom:1; margin-right:42px; font-size:14px;}
.hot_list li span{ float:left;overflow:hidden;white-space: nowrap;text-overflow: ellipsis; width:340px;}
.hot_list em{font-size: 12px;line-height: 26px;color: #ccc;float: right;}
.hot_list b{ margin-right:5px;}
.hot_list b a{font-weight: normal;color: #458fce;}
.hot_list b a:hover{color: #f60;}

.ks-s-box{}
.ks-s-box h2{ border-bottom:1px solid #ededed; font-weight:normal; color:#3d95d5; padding:15px 0;}
.ks-s-box .hot_list{ padding:15px 0;}
.ks-s-box .art_list{ padding-top:15px;}
.art_list{}
.art_list li{ +vertical-align:top; margin-bottom:30px;}
.art_list li h3{ font-size:14px; color:#333; line-height:28px;}
.art_list li p{ text-indent:2em; color:#666; font-size:14px; line-height:24px;}

/*art_box_c*/
.art_box_c{font-family:"Microsoft yahei","simhei";}
.art_box_c h1{font-family: "Microsoft yahei";margin:40px 30px 40px;font-family:"Microsoft yahei","simhei";font-size:30px;color:#333; font-family: "Microsoft yahei";font-weight:100;line-height:34px; text-align:center;}
.art_box_c .remark{font-family: "Microsoft yahei";font-size:14px;color:#333; line-height:18px; text-align:center;}
.art_box_c .digest{font-family: "Microsoft yahei";margin:18px 0 25px 0;padding:10px 18px;border:1px solid #ededed;border-left:none;border-right:none;font-size:14px;color:#666;line-height:26px; text-indent:1em;background:#f7f7f7;}
.art_box_c .digest cite{color:#333;}
.art_box_c .art_con{ padding-bottom:40px;}
.art_box_c .art_con p{margin:12px 0 0 0;font-size:16px;color:#333; line-height:24px;font-family: "Microsoft yahei";}
.art_box_c .img{width:560px;height:400px;margin:20px auto;font-size:14px;color:#666; text-align:center;overflow:hidden;}
.art_box_c .img img{width:560px;height:360px;}
.art_box_c .img span{ display:block;height:40px; line-height:40px;font-family: "Microsoft yahei";}
.art_box_c .manimg{ position:relative;}
.art_box_c .manimg .t{ display:block; position:absolute;top:0;right:0;}
.art_box_c .manimg .t .close{ display:block;width:38px;height:38px; background:url(../images/ico_sqs_close.png) no-repeat 0 0;}


/*图片滚动部分*/
.V_pic_c{width:720px;height:622px;margin:20px auto;overflow:hiddenl;background:#f7f7f7;}
.pic_scroll{ width:700px;padding:10px;overflow:hidden;}
.pic_scroll .picbottom{ display:block;  height:6px;overflow:hidden; font-size:1px; line-height:4px;}
.nph_photo_view{ position:relative; overflow:hidden; width:100%; text-align:center;}
.nph_photo_view .nph_cnt{ height:100%; text-align:center;}
.nph_photo_view i{ display:inline-block; height:100%; vertical-align:middle;; text-align:center;}
.nph_photo_view img{ text-align:center; vertical-align:middle; max-width:100%; max-height:100%; -ms-interpolation-mode: bicubic;}
.nph_photo_loading{ position:absolute; left:50%; top:50%; margin:-19px 0 0 -19px; width:37px; height:37px; background:url(../../Template/img/loading.gif) no-repeat 0 0;}
.nph_photo_desc{ }
.nph_photo_desc h2{ padding-top:8px; min-height:25px; _height:25px; font:18px/1.4 simHei;}
.nph_photo_ctrl{ float:right; overflow:hidden; margin-top:8px;}
.nph_photo_ctrl ul{ margin-right:-12px;}
.nph_photo_ctrl li{ display:inline;}
.nph_photo_ctrl .hidden{ display:none;}
.nph_photo_thumb{width:700px;_margin-top:-20px; margin:0 0 0 21px;}
.nph_photo, .nph_stream, .nph_search{ width:100%;}
.nph_stream_view, .nph_search_view{ overflow:hidden; padding-top:12px; width:100%;}
.nph_scrl_bd{margin-top:10px;}
.nph_scrl{ float:left; width:100%; min-height:1px;}
.nph_scrl_thumb{float:left; display:inline;width:656px;zoom:1;}
.nph_scrl_main{ width:656px;padding:0;overflow:hidden;_zoom:1; }
.nph_list_thumb{height:90px;overflow:hidden;}
.nph_list_thumb li{  float:left; width:127px;height:90px;padding-right:5px;text-align:center;}
.nph_list_thumb h2, .nph_list_thumb p, .nph_list_thumb i{ display:none;}
.nph_list_thumb a{display:block;width:127px;height:90px;background:#005bac;overflow:hidden;}
.nph_list_thumb a img{width:127px;height:90px;}
.nph_list_thumb a:hover{width:123px;height:86px;padding:2px;}
.nph_list_thumb a:hover img,.nph_list_thumb .nph_list_active a img{width:123px;height:86px;}
.nph_list_thumb .nph_list_active a{width:123px;height:86px;padding:2px;}
.nph_btn_scrl{ position:absolute; display:block; width:36px; outline:none; cursor:default;}
.nph_btn_scrl .nph_btn_bd span{ display:block; height:13px;}
.nph_btn_scrl .nph_btn_ct{ display:block;margin:0 auto; width:14px; height:15px;}
.nph_btn_return{ float:left; margin:4px 10px 5px 0; padding:0 10px; height:19px; line-height:19px; text-align:center; cursor:pointer; border:1px solid #767676; background:#494949;}
.nph_btn_return, .nph_btn_return:visited{ color:#ECECEC;}
.nph_btn_return:hover{ color:#ECDEAE;}
.nph_gallery .nph_c_lh{ color:#E53333;}
.nwb-forward{ display:inline-block; margin:0 6px; padding:2px 0 0 19px;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src=http://liuliang.39.net/img/icon_wb.png); _background:none;}

.bdp_box_c{width:700px;height:600px;overflow:hidden;margin:auto}
.bdp_box_c .nph_cnt h2{font-size:12px;}
.bdp_box_c .title1{color:#333;height:50px;background:url(../images/pic_titel_dw.gif) repeat-x 0 0;padding-top:18px; }
.bdp_box_c .title1 strong{padding-left:30px;font-size:14px; font-weight:bold}
.bdp_box_c .title1 strong a{color:#333}
.bdp_box_c .title1 strong a:hover,.bdp_box_c .title1 span a:Hover{color:#f60}
.bdp_box_c .title1 span{float:right;padding-right:30px;font-size:12px; font-weight:bold;}
.bdp_box_c .title1 span a{color:#006699}
.bdp_imgbox_c{ position:relative; overflow:hidden; width:100%; text-align:center;}
.bdp_imgbox_c .nph_cnt{width:700px;height:467px; overflow:hidden;margin:auto; text-align:center;}
#photo48171gg{max-width:700px;max-height:467px; text-align:center; vertical-align:middle;}
.nph_photo_prev{ position:absolute; left:0; top:183px; width:30px; height:100px; background:url(../images/icon_pcL.png) no-repeat; }
.nph_photo_next{position:absolute; right:0; top:183px; width:30px; height:100px; background:url(../images/icon_pcR.png) no-repeat;}
.nph_photo_loading{ position:absolute; left:50%; top:50%; margin:-19px 0 0 -19px; width:37px; height:37px; /*background:url(../../Template/img/loading.gif) no-repeat 0 0;*/}
.bdp_box_c .title2{}
.bdp_box_c .title2 strong{width:450px; display: block;float:left; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; display:inline-block; font-weight:bold}
.bdp_box_c .title2 span{float:left;}
.bdp_box_c .title2 span.floatR{float:right;line-height:30px;}
.bdp_box_c .title2 span.floatR a{color:#006699;}
.bdp_box_c .title2 span b{ font-style:normal;color:#f60;font-size:22px}
.nph_hr_solid{ display:block; clear:both; overflow:hidden; margin:0 2px; height:17px; background:#ccc}
.bdp_box2_c{clear:both;height:123px;background:none;padding-top:12px;position:relative;}
.nph_scrl_prev{display:block;width:18px;height:90px; position:absolute;background:#ccc url(../images/picshow_jiantou.png) no-repeat 0 0; top:12px;left:0;}
.nph_scrl_next{ display:block; width:18px;height:90px; position:absolute;background:#ccc url(../images/picshow_jiantou.png) no-repeat 0 -93px;top:12px;right:0;_right:0;}
.nph_btn_nscrl,.nph_btn_pscrl{ display:block; width:18px;height:90px;outline:none; cursor:pointer;}
/*.nph_btn_pscrl{ background:#ccc url(../images/picshow_jiantou.png) no-repeat 0 0;}
.nph_btn_nscrl{  background:#ccc url(../images/picshow_jiantou.png) no-repeat 0 -93px;}
.nph_btn_pscrl:hover{ background-position:0 -40px;_background-position:0 -35px;}
.nph_btn_nscrl:hover{ background-position:-30px -40px;_background-position:-30px -35px;}*/
.nph_hr_solid{ display:block; clear:both; overflow:hidden; margin:0 2px; background:none}
.nph_scrl_ct{ position:relative; margin:0 3px;  height:13px; background:url(../images/picshow_jiantou.png) repeat-x 0 -191px;}
.nph_btn_scrl{ position:absolute; display:block; width:36px; outline:none; cursor:default; margin-top:1px;}
.nph_btn_scrl .nph_btn_lt{margin-right:-10px; float:left;width:10px;  height:15px;/*background:url(../images/pic_dw2L.gif) no-repeat;*/}
.nph_btn_scrl .nph_btn_rt{ margin-left:-10px;float:right; width:10px; height:15px;/*background:url(../images/pic_dw2R.gif) no-repeat right top;*/}
.nph_btn_scrl .nph_btn_ct{/*background:url(../images/pic_dw2c.gif) no-repeat;*/}
.nph_btn_scrl .nph_btn_bd{ float:left; width:100%; min-height:1px;}
.nph_btn_scrl .nph_btn_bd span{font-size:8px;color:#e0e0e0; text-align:center; line-height:12px; background:#ccc url(../images/picshow_jiantou.png) no-repeat  center -213px;}
.nph_btn_scrl:hover .nph_btn_bd span{ background:#ECECEC;}
.nph_btn_scrl:hover .nph_btn_lt{ background-position:0 0;}
.nph_btn_scrl:hover .nph_btn_rt{ background-position: right top;}
.nph_btn_scrl:hover .nph_btn_ct{ background-position:0 0;}
.nph_scrl_bar{width:100%;margin:0}
.nph_photo_ctrl .hidden{ display:none;}
.nph_btn_pphoto{ display:block; width:100%; height:100%; outline:none; /*cursor:url(http://liuliang.39.net/img/bg11.cur), auto;*/}
.nph_btn_nphoto{ display:block; width:100%; height:100%; outline:none; /*cursor:url(http://liuliang.39.net/img/bg12.cur), auto;*/}
.floatR{float:right;}
.suofang {MARGIN: auto;WIDTH:588px;height:392px;}
.suofang img{MAX-WIDTH: 100%!important;HEIGHT: auto!important;width:expression(this.width > 588 ? "588px" : this.width)!important;height:expression(this.height > 392 ? "392px" : this.height)!important;}
.art_box h1{text-align:center; font-weight:bold;font-size:24px;line-height:26px;padding:20px ;}
.bdp_box_c div .bdp_imgbox_c .text_onimg{ display:none;position:absolute; width:700px;height:67px; overflow:hidden;!margin-left:-370px;margin-top:-67px;_margin-left:-368px;padding:10px 0 0 20px;}
.bdp_box_c div .bdp_imgbox_c .text_onimg p{width:410px;color:#fff; overflow:hidden;margin:0;padding:0;line-height:22px; text-indent:2em;height:45px;background:url(a.png) repeat-x 0 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="a.png" ,sizingMethod="crop"); }
.bdp_box_c div .bdp_imgbox_c .text_onimg h2{ display:none;}

.list_box .d_face{ width:110px;}
.list_box .d_face img{ width:110px; height:130px;}
.list_box h3{ }
.list_box h3 span{ font-weight:normal; padding-left:10px; display:inline; font-size:14px; color:#666;}
.list_box .cont2{ width:695px;}